@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ensure ShadCN modal has higher z-index */
.shadcn-modal {
  z-index: 9999 !important;
}
/* Customize the backdrop (overlay) style */
.radix-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity */
}
.radix-popover-content {
  background-color: white;
}
